@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary: rgb(231, 231, 231);
  --secondary: rgba(2, 36, 65, 0.432);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 14px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}
.slick-slide>div {
  margin: 0 10px;
}

.slick-slide>div:nth-child(1) {
  margin-left: 0;
}

.slick-list {
  margin-right: -10px;
}